:root
  //# COLORS
  // Vanity
  --rebecca:  rgb(102, 51, 153)
  // Named
  --black:        rgb(25, 25, 25)
  --black-lighter:rgb(35, 35, 35)
  --black-light:  rgb(28, 28, 28)
  --black-dark:   rgb(21, 21, 21)
  --white:        rgb(210, 210, 210)
  --white-light:  rgba(255, 255, 255, 0.6)
  --white-lighter:rgba(215, 215, 215, 0.55)
  --tomato:       rgb(255, 99, 71)
  --hot-pink:     rgb(255, 120, 254)
  --cadetblue:    rgb(100, 175, 180)
  --tron:         rgb(0, 168, 255)
  // 'Brand'
  --brand-primary:    var(--rebecca)
  --brand-secondary:  var(--tomato)
  //# GRID
  --grid-gap: 1.45rem
  --grid--width-max: 75rem
  --content-span: content-main-start / content-main-end
  // 16 × 75 = 1,200
  --grid-layout: [perimeter-start] calc( 50vw - (var(--grid--width-max) / 2) ) [content-main-start] repeat(10, 1fr) [content-main-end] calc( 50vw - (var(--grid--width-max) / 2) ) [perimeter-end]
  --post-layout: repeat(2, 1fr)
  --global-stroke: 3px
  // FONTS
  --body-font-stack: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif
  --mono-font-stack: 'Cutive Mono', Courier New, Courier, monospace