---
layout: default
---
<div id="ethos" class="introduction">
  <picture class="juxtaposition juxtaposition--graphic">
    <source
    srcset="/assets/img/shannon-young512w.webp 512w,
            /assets/img/shannon-young@3x.webp 300w,
            /assets/img/shannon-young@2x.webp 200w,
            /assets/img/shannon-young.webp 100w"
    sizes="560px"
    type="image/webp">
    <source
    srcset="/assets/img/shannon-young512w.png 512w,
            /assets/img/shannon-young@3x.png 300w,
            /assets/img/shannon-young@2x.png 200w,
            /assets/img/shannon-young.png 100w"
    sizes="560px"
    type="image/jpeg">
    <img class="u-photo" src="/assets/img/shannon-young.png" width="560" height="560" alt="A much younger version of my actual face" loading="eager" importance="high">
  </picture>  
  <div class="juxtaposition juxtaposition--text">
    <p>
      I share the belief that the web should be an inclusive and accessible platform for <strong>all</strong>, regardless of device or impairment.
    </p>
    <p>
      This mindset is applied when creating user experiences, backed with a well-grounded understanding of responsive web UI/UX principles and design aesthetics.
    </p>
    <p>
      <a href="#human">
        <span>Get to know me</span><svg aria-hidden="true" focusable="false" width="16" height="16"><title>Down arrow</title><use xlink:href="#icon-arrow"></use></svg>
      </a>
    </p>      
  </div>
</div>
<div id="human" class="grid color-splash">
  <div class="lead">
    <h1>The human</h1>
    <p>
      I have worked as a front-end designer and developer for almost 13 years.<br>
      From a young age I've always been intrigued how things worked.<br>
      Pandemics aside, I attend conferences and beleive in <a href="/blog/">sharing</a> what you learn.<br>
    </p>
    <p>
      <a href="/cv/" class="emoji-cv">View my CV</a>
    </p>
  </div>  
</div>
<aside class="grid">
<details class="social-haunts">
  <summary>
    {% include /components/svg/raw.html title="Expand" width="10" height="16" %}
    <strong>Around the web</strong>
  </summary>
  <ul>
    {% assign social = site.data.social %}
    {% for item in social %}
    <li><b>{{item.doing}} – </b><a href="{{item.url}}" rel="noreferrer noopener" target="_blank" aria-describedby="external-link">{{item.name}}</a></li>
    {% endfor %}
  </ul>
</details>
</aside> 
<div class="grid">
  <div class="generic-content">
    {{content}}
  </div>  
</div>