---
layout: default
---
<div id="ethos" class="introduction">
  <div class="juxtaposition juxtaposition--text">
    <p>
      I share the belief that the web should be an inclusive and accessible platform for all regardless of device or impairment.
    </p>
    <p>
      This mindset is applied when creating user experiences, with a well-grounded understanding of responsive web/UX design principles. I can be part of a project through ideation, definition and deployment.      
    </p>
    <p>
      <a href="#human">
        <span>Get to know me</span><svg aria-hidden="true" focusable="false" width="16" height="16"><title>Arrow</title><use xlink:href="#icon-arrow"></use></svg>
      </a>
    </p>
  </div>
  <picture class="juxtaposition juxtaposition--graphic">
    <source
    srcset="/assets/img/shannon-young@3x.webp 300w,
            /assets/img/shannon-young@2x.webp 200w,
            /assets/img/shannon-young.webp 100w"
    sizes="560px"
    type="image/webp">
    <source
    srcset="/assets/img/shannon-young@3x.png 300w,
            /assets/img/shannon-young@2x.png 200w,
            /assets/img/shannon-young.png 100w"
    sizes="560px"
    type="image/jpeg">
    <img class="u-photo" src="/assets/img/shannon-young.png" width="560" height="560" alt="A much younger version of my actual face" loading="eager" importance="high">
  </picture>
</div>
<div id="human" class="grid-me color-splash">
  <div class="generic-content">
    {{content}}
    <!-- <div class="cv-in-your-face">
      <a href="/cv/">
        <strong>Shannon Young</strong>
        <br>
        <b>CV</b>
      </a>
    </div>   -->
  </div>
</div>