---
layout: default
title: "Archive"
---
{% comment %} Don't show category on single category pages {% endcomment %}
{%- assign layout = page.layout | slugify -%}
{%- assign url = page.url | slugify -%}
{%- if layout == 'archive' and url contains "categories-" -%}
  {%- assign exclude_categories = true -%}
{%- endif -%}

<section class="grid-me">
  <div class="generic-content">
    <h1>{{ page.type | capitalize }} {% if page.title %}– <em>{{ page.title }}</em>{% endif %} {% if page.date %}– <em>{{ page.date | date: '%Y' }}</em>{% endif %}</h1>
    <ol class="posts-list">
    {%- for post in page.posts %}
      <li>
        {%- if exclude_categories -%}
          {% include /components/html/dinky-article.html source=page.layout show-tags=true %}
        {%- else -%}
          {% include /components/html/dinky-article.html source=page.layout show-categories=true %}
        {%- endif -%}
      </li>
    {%- endfor %}
    </ol>
  </div>
</section>