---
layout: default
---
<div class="grid-me">
  <div class="generic-content">
    <h1>Colophon</h1>
    {% include /components/html/typography.html %}
    {% include /components/html/stack.html %}
    {% include /components/html/features.html %}
    {% include /components/html/tools.html %}
    {%- if site.data.roadmap -%}
    {% include /components/html/roadmap.html %}
    {%- endif -%}
    {% include /components/html/friends.html %}   
    {% include /components/html/peers.html %}   
  </div>
</div>