---
layout: default
---
{%- assign notes = site.notes -%}
{%- assign posts = site.posts -%}

<section class="introduction grid-me pad-me">
  <div class="introduction-content">
    <h1>I'm Shannon, a dev with accessibility and inclusion at the heart of everything I do.</h1>
    <p>{{site.data.helpers.spinout}}</p>
    <div class="hr-link">
      <a href="/about/">My ethos</a>
    </div>
  </div>
</section>

<section class="topic-highlights grid-me">
  <div class="topic-highlights-content">
    <h2>Favourite topics</h2>
    <p>I like to note down, and write about most topics, but these areas are what peak my interests most</p>
    <nav>
      <ul>
        <li>
          <a href="#">A11y</a>
        </li>
        <li>
          <a href="#">CSS</a>
        </li>
        <li>
          <a href="#">Inclusion</a>
        </li>
        <li>
          <a href="#">SSG</a>
        </li>      
      </ul>
      <a href="/blog/topics/" class="topic-select">See all topics</a>
    </nav>
  </div>
</section>

<section class="grid-me">
  <div class="topic-highlights-content">
    <h2>Recent notes</h2>
    <ul>
      {%- for note in notes %}
      <li>
        <a href="{{ note.url }}">{{ note.title }}</a>
      </li>
      {%- endfor %}
    </ul>
    <h2>Recent articles</h2>  
    <ul>
      {%- for post in posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {%- endfor %}
    </ul>    

{% for tag in site.tags %}
  <h3><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

  </div>
</section>