---
layout: default
---
{%- assign posts = site.posts -%}

<section class="introduction grid space-me">
    <h1>I'm Shannon, a dev with accessibility and inclusion at the heart of everything I do.</h1>
    <p>{{site.data.helpers.mini_bio}}</p>
    <div class="hr-link">
      <a href="/about/#ethos">My ethos</a>
    </div>
</section>

<section class="topic-highlights grid space-me">
  <div class="topic-highlights-content">
    <h2>Talking points</h2>
    {% include /partials/navigations/topics.html %}
  </div>
</section>

<section class="article-listing grid space-me">
  <div class="article-listing-content">
    <h2>Recent articles</h2>
    <ol class="posts-list">
      {%- for post in posts limit: 4 %}
      <li>
        {% include /components/html/dinky-article.html source=page.layout hide-timestamp=true show-categories=true %}
      </li>
      {%- endfor %}
    </ol>
  </div>
</section>