---
layout: default
---
<article class="grid-me h-entry" aria-describedby="article-title">
  <header>
    <h1 class="p-name" id="article-title {{page.title | slugify}}">{{page.title}}</h1>
  </header>
  {% include /components/html/post-meta.html %}
  <div class="article-content e-content">
    {{content}}
  </div>
  <footer>
    <section>
    {% include /components/html/post-tags.html %}
    {% include /components/html/post-updated.html %}
    </section>
  {% include /components/html/adjacent-posts.html %}
  </footer>
</article>