---
layout: default
---
<article class="grid-me" aria-describedby="article-title">
  <header>
    <h1 id="article-title">{{page.title}}</h1>
  </header>
  {% include /components/html/post-meta.html %}
  <div class="article-content">
    {{content}}
  </div>
  <footer>
	<div>
		<span class="sr-only">Updated</span>
		<time datetime="{{ 'now' | date: '%Y-%m-%d %H:%M' }}">{{ "now" | date_to_string }}</time>		
	</div>    
	{%- if page.tags -%}		
	<ul id="post-tags">
		<span class="sr-only">Tagged with</span>
		{% for tag in page.tags %}
    <li><a href="/topics/{{ tag | slugify }}/">{{ tag }}</a></li>
		{% endfor %}	
	</ul>
	{%- endif -%}    
  </footer>
</article>