---
layout: default
---
<section class="grid-me pad-me">
  <div class="generic-content">
    <h1>Web based testing suites</h1>
    {% assign tests = site.data.tests %}
    {%- for test in tests %}
    <details>
      <summary>{{test.name}}</summary>
      <ul>
      {%- for page in site.pages %}
        {%- unless page.noindex == true or page.url contains "/archive/" %}
        <li>
          <a href="{{test.url}}{{ page.url | remove_first:'/' | absolute_url | remove: 'http://' }}">{{ page.title | append: '>' }}</a>
        </li>
        {%- endunless %}
      {% endfor %}
      </ul>      
    </details>
    {% endfor %}
  </div>  
</section>