---
layout: default
---
<section class="grid-me">
  <div class="topic-highlights-content">
    <hgroup>
      <h1>{{page.title}}</h1>
      <h2>{{site.tags.size}} topics across {{site.posts.size}} articles</h2>
    </hgroup>
    {{content}}
    <ul>
    {% for tag in site.tags %}
      <li>
        <a href="/topics/{{ tag[0] | slugify }}" {%- if tag[1].size > 1 -%}style='--tag-count: {{ tag[1].size }};'{%- endif -%}>{{ tag[0] }}({{ tag[1].size }})</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>