---
layout: default
---
<section class="grid-me">
  <div class="generic-content topic-highlights-content">
    <h1>{{page.title}}</h1>
    <h2>{{site.tags.size}} topics across {{site.posts.size}} articles</h2>
    {{content}}
    <ul>
    {% assign sorted_tags = site.tags | sort %}      
    {% for tag in sorted_tags %}
    {% assign label = tag | first %}
    {% assign count = tag | last %}
    <li id="tagged-{{ label | slugify }}">
      <a class="number-display" href="/topics/{{ label | slugify | append: '/' }}" {%- if count.size > 1 -%}style='--shift: {{ count.size }}deg;--tag-count: {{ count.size }};'{%- endif -%}>
        <svg aria-hidden="true" focusable="false" width="16" height="16">
          <title>Tag icon</title>
          <use xlink:href="#icon-tag"></use>
        </svg>        
        <span>{{ label | upcase }}</span>
        <b>({{ count.size }})</b>
      </a>
    </li>
    {% endfor %}
    </ul>
  </div>
</section>