---
layout: default
---
<section class="grid-me">
  <div class="generic-content topic-highlights-content">
    <h1>{{page.title}}</h1>
    <h2>{{site.tags.size}} topics across {{site.posts.size}} articles</h2>
    {{content}}
    <ul>
    {% for tag in site.tags %}
    <li id="tagged-{{ tag[0] | slugify }}">
      <a class="number-display" href="/topics/{{ tag[0] | slugify | append: '/' }}" {%- if tag[1].size > 2 -%}style='--tag-count: {{ tag[1].size }};'{%- endif -%}>
        <span>{{ tag[0] | upcase }}</span>
        {% if tag[1].size > 0 %}<em>{{ tag[1].size }}</em>{% endif %}      
      </a>
    </li>
    {% endfor %}
    </ul>
  </div>
</section>