{%- for menu in site.data.navigation -%}
  {% if menu.name == 'footer' %}
  <ul>
    {%- for item in menu.items -%}
      <li {% if active contains item.label %}aria-labelledby="current-page"{% endif %}>
        <a class="number-display" href="/{{ item.label }}/" title="{{ item.label | capitalize }}" {% if active contains item.label %}aria-current="page"{% endif %}>
          <span>{{ item.label | capitalize }}</span>
          {% if item.data %}<em>{{site.[item.data].size}}</em>{% endif %}
        </a>
      </li>           
    {%- endfor -%}
  </ul>
  {% endif %}
{%- endfor -%}  