:root
  //# COLORS

  // Vanity
  --rebecca:  rgb(102, 51, 153)
  // Named
  --black:        rgb(25, 25, 25)
  --black-light:  rgb(28, 28, 28)
  --white:        rgb(210, 210, 210)
  --tomato:       rgb(255, 99, 71)
  --hot-pink:     rgb(255, 120, 254)
  // 'Brand'
  --brand-primary:    var(--rebecca)
  --brand-secondary:  var(--tomato)

  //# UNITS
  --grid-gap: 1.45rem
  --grid--width-max: 75rem
  // 16 × 75 = 1,200
  --grid-layout: [perimeter-start] calc( 50vw - (var(--grid--width-max) / 2) ) [content-main-start] repeat(10, 1fr) [content-main-end] calc( 50vw - (var(--grid--width-max) / 2) ) [perimeter-end]
  --global-stroke: 3px

@mixin direction($dir)
  background: linear-gradient(to #{$dir}, var(--brand-primary) min(20vw, 45%), var(--brand-secondary))

*
  box-sizing: border-box

.grid-me
  display: grid
  grid-template-columns: var(--grid-layout)
  column-gap: var(--grid-gap)
  &.pad-me
    padding: 5rem 0

img
  max-width: 100%
  display: block
  width: 100%
  height: auto

svg:not(:root):not([hidden])
  overflow: hidden
  display: block

[hidden]
  display: none

.sr-only:not(:focus):not(:active)
  clip: rect(0 0 0 0)
  clip-path: inset(100%)
  height: 1px
  overflow: hidden
  position: absolute
  white-space: nowrap
  width: 1px

body
  @supports (scroll-behavior: smooth)
    @media (prefers-reduced-motion: no-preference)
      scroll-behavior: smooth  
  margin: 0 auto
  padding: 0
  font-size: 1.125em
  background-color: var(--black)
  color: var(--white)
  font-variant-ligatures: none
  a
    color: inherit
    text-decoration: none
    &:hover
      text-decoration: underline

pre
  overflow-x: auto
  padding-bottom: 1rem
  margin: 0
  scrollbar-color: var(--white) transparent
  scrollbar-width: thin  
  &::-webkit-scrollbar
    width: 20px
    height: 5px
  &::-webkit-scrollbar-track
    border-radius: 1rem
    border: transparent
  &::-webkit-scrollbar-thumb
    background-color: var(--white)
    border-radius: 1rem

q, blockquote
  position: relative
  quotes: '“' '”' "‘" "’"
  &::before
    left: calc(-1 * var(--grid-gap))
    position: absolute
    content: open-quote

h1
  grid-column: 2/content-main-end
  margin: 0
  /*  This means that the font-size will be set at --minFontSize, until the computed value of --scaler becomes greater than that of --minFontSize.
      At this point, font-size will be set at --scaler, until --scaler's computed value becomes greater than that of --maxFontSize.
      At this point, the font-size will be set at --maxFontSize.
      clamp() allows you to set a minimum and maximum value.
  --minFontSize: 2.5rem
  --maxFontSize: 4rem
  --scaler: 4vw
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize))
  transition: font-variation-settings 250ms ease
  font-variation-settings: 'wght' 600
  @media screen and (min-width: 768px)
    font-variation-settings: 'wght' 450

.introduction
  grid-row-gap: 2rem
  &-content
    display: contents
    p, .hr-link
      grid-column: content-main-start/content-main-end
      @media screen and (min-width: 768px)
        grid-column: 7/content-main-end
    p
      margin: 0
      padding: 2rem 0 0
      color: rgba(255,255,255,.6)
      font-variation-settings: 'wght' 350
      --minFontSize: 1.2rem
      --maxFontSize: 2rem
      --scaler: 1.2vw
      font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize))
    .hr-link
      display: flex
      align-items: center
      &::before
        content: ""
        width: 25%
        height: var(--global-stroke)
        border-radius: 6px
        background-color: var(--brand-primary)
        transition: background 1s ease
        @include direction(right)
        margin-right: 1rem
      a
        color: inherit
        display: inline-block
        width: auto

.topic-select
  font-variation-settings: 'wght' 350

.topic-highlights
  background-color: var(--black-light)
  &-content
    grid-column: content-main-start/content-main-end
    margin: 96px 0 144px 0
    nav
      display: flex
      align-items: center
      margin: 48px 0 0
      ul
        padding: 0
        margin: 0
        display: flex
        flex-wrap: wrap
        flex: 1
        align-items: center
        &::after
          content: ""
          flex: 1
          height: var(--global-stroke)
          border-radius: 6px
          background-color: var(--brand-primary)
          transition: background 1s ease
          @include direction(right)
          margin: 0 1rem
        li
          font-size: 22px
          display: flex
          a
            &:hover, &:focus
              color: var(--brand-secondary)
              outline-offset: 2px
              outline-color: var(--white)
              &::before
                color: var(--brand-primary)
            &::before
              content: '#'
              position: static
          &:not(:last-of-type)
            margin-right: 28px

main
  article
    header
      @media screen and (max-width: 768px)
        padding: 5rem 0 var(--grid-gap)
      grid-column: 2/content-main-end
      h1
        margin: 0
        font-variation-settings: "wght" 350
    .article-meta
      div
        padding: var(--grid-gap)
        font-weight: 300
        font-style: normal
        font-size: 1.2em
        line-height: 1
        letter-spacing: 3px        
        color: rgba(255, 255, 255, 0.6)
        text-transform: uppercase
        font-family: Courier New, Courier, monospace        
      &::before
        content: ""
        width: calc(var(--grid-gap) * 4)
        height: var(--global-stroke)
        @include direction(right)
        margin: 0 var(--grid-gap) 0 0
        border-radius: 6px
        background-color: var(--brand-primary)
        transition: background 1s ease
        @media screen and (min-width: 768px)
          width: var(--global-stroke)
          height: calc(var(--grid-gap) * 4)
          @include direction(bottom)
          margin: 0 0 var(--grid-gap)
      grid-column: content-main-start / content-main-end
      display: flex
      align-items: center
      padding: 0 0 calc(var(--grid-gap) * 2) 0 
      @media screen and (min-width: 768px)
        grid-column: content-main-start / span 1
        grid-row: 2/10
        writing-mode: vertical-rl
        padding: 0
    .article-content
      grid-column: 3/content-main-end
      display: contents
      blockquote
        grid-column: content-main-start/content-main-end
        padding: var(--grid-gap)
        margin: 0 0 var(--grid-gap) var(--grid-gap)
        border-radius: var(--global-stroke)
        background: var(--black-light)
        font-size: 1.3em
        font-variation-settings: 'wght' 250
        @media screen and (min-width: 768px)
          grid-column: 3/span 7
        > p:first-of-type
            margin: 0
        cite
          display: block  
      figure
        figcaption
          text-align: center
      > p:first-of-type
        font-size: 1.5em
        @media screen and (min-width: 768px)
          grid-column: 3/span 7
      *
        margin: 0 0 var(--grid-gap)
        grid-column: 2/content-main-end
        @media screen and (min-width: 768px)
          grid-column: 3/content-main-end