@use '../utility/_mixins'
@use '../utility/_extends'

body.about
  .color-splash
    background-color: var(--brand-primary)
  .introduction
    background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='white' fill-opacity='0.07' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
    background-blend-mode: overlay
    margin: var(--grid-gap)
    scroll-margin-top: var(--grid-gap)
    @media screen and (min-width: 768px)
      display: flex
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
      column-gap: calc(var(--grid-gap) * 4)
      height: calc(100vh - calc(var(--grid-gap) * 2))

.juxtaposition
  display: flex
  flex: 1
  height: inherit
  flex-direction: column
  padding: var(--grid-gap)
  @media screen and (min-width: 768px)
    align-content: center
    justify-content: center
  &--text
    color: var(--white-light)
    @include mixins.fw(550)
    // Font size mixin using clamp ($min, $max, $ideal)
    @include mixins.clamp(1.2rem,2rem,calc(0.1rem + 1.2vw))
  &--graphic
    img
      object-fit: contain
      width: 100%
      height: 100%
    @media screen and (min-width: 768px)
      grid-column: 2
      mix-blend-mode: exclusion
      