@use '../utility/_mixins'
@use '../utility/_extends'

.article-meta
  font-size: 1.2em
  line-height: 1
  list-style: none
  letter-spacing: 3px
  color: rgba(255, 255, 255, 0.6)
  text-transform: uppercase
  padding: 0
  font-family: var(--mono-font-stack)   

body.post
  article
    header
      grid-column: 2/content-main-end
      padding: 0 0 calc(var(--grid-gap) * 2)
    .article-meta
      &--item
        padding: 0
        @media screen and (min-width: 768px)
          &:not(:last-of-type)
            padding: var(--grid-gap) 0
      &::before
        content: ""
        @include mixins.direction(right)
        // width: calc(var(--grid-gap) * 4)
        height: var(--global-stroke)
        border-radius: 6px
        background-color: var(--brand-primary)
        transition: background 1s ease
        @media screen and (min-width: 768px)
          width: var(--global-stroke)
          height: calc(var(--grid-gap) * 4)
          @include mixins.direction(bottom)
      grid-column: content-main
      display: flex
      flex-direction: column
      @media screen and (min-width: 768px)
        flex-direction: initial
        align-items: center
        grid-column: content-main-start / span 1
        grid-row: 2/100
        writing-mode: vertical-rl
        padding: 0
    .article-content
      @extend %display_contents
      grid-column: 3/span 8    
      blockquote
        grid-column: content-main       
        @media screen and (min-width: 768px)
          grid-column: 3/span 7
        *
          margin: 0
      img
        max-width: 100%
      figure
        @media screen and (min-width: 768px)
          grid-column: 3/span content-main-end
        img
          width: 100%
        figcaption
          font-family: var(--mono-font-stack)
          font-style: italic
          text-align: center
      > p:first-of-type
        // clamp($min, $max, $ideal)
        @include mixins.clamp(1.75rem,2.5rem,calc(1rem + 1vw))
        font-variation-settings: "wght" 35
        margin-bottom: calc(var(--grid-gap) * 2)
        // margin-bottom: calc(var(--base-font-size) * 1.5)
        + p
          margin-top: 0
        @media screen and (min-width: 768px)
          grid-column: 3/span 8
      *
        grid-column: content-main
        @media screen and (min-width: 768px)
          grid-column: 3/span content-main-end
    footer
      @extend %display_contents
      grid-column: perimeter-start/content-main-end
      > section
        margin-top: calc(var(--grid-gap) * 2)
        grid-column: content-main
        font-family: var(--mono-font-stack)
        @media screen and (min-width: 768px)
          grid-column: 3/span content-main-end
      #post-tags
        grid-column: content-main
        padding: 0
        margin: 0
        list-style: none
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        li
          font-size: inherit
          color: var(--brand-primary)
          text-transform: uppercase
          display: flex
          align-items: flex-end
          &:not(:last-of-type)
            margin-right: calc(var(--grid-gap) / 2)
          a
            font-family: var(--mono-font-stack)
          &::before          
            content: '#'
            position: static