@use '../utility/_mixins'
@use '../utility/_extends'

.introduction
  grid-row-gap: 2rem
  &-content
    @extend %display_contents
    h1
      grid-column: 2/span 9
    p, .hr-link
      grid-column: content-main
      @media screen and (min-width: 768px)
        grid-column: 7/content-main-end
    p
      margin: 0
      color: var(--white-light)
      @include mixins.fw(350)
      // Font size mixin using clamp ($min, $max, $ideal)
      @include mixins.clamp(1.2rem,2rem,1.2vw)