<article class="dinky-article h-entry" aria-describedby="post-{{ post.title | slugify }}" data-layout-template="{{include.source}}">
  <h3 id="post-{{ post.title | slugify }}" class="p-name">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h3>
  <div class="article-content e-content">
    {{ post.excerpt | strip_html }}
  </div>
  <footer>
    {% include /components/html/timestamp.html source=page.layout %}
    {% if include.show-categories %}
    <span class="screen-reader-only">Filed under</span>
		<a href="/categories/{{post.categories}}/">
      <svg aria-hidden="true" focusable="false" width="16" height="13">
        <title>Category icon</title>
        <use xlink:href="#icon-category"></use>
      </svg>
      <b class="p-category">{{- post.categories -}}</b>
    </a>
    {% endif %}    
  </footer>          
</article>