<h2>Peers</h2>
<p>People who I have seen talk at conferences, an inspiration or generally wicked <sup>*</sup></p>
<ul class="peers">
  {% assign peer_count = site.data.peers | size %}
  {% assign peers = site.data.peers | sample: peer_count %}
  {% for peer in peers %}
    <li>
      <a href="{{- peer.url -}}" rel="noopener" target="_blank">
        <span class="screen-reader-only">{{- peer.name | append: '&apos;s&nbsp;' -}} website</span>
        <img src="{{peer.twitter | prepend:'https://unavatar.now.sh/twitter/'}}" id="{{ peer.name | slugify }}" loading="lazy" importance="low" width="80" height="80" alt="{{ peer.name | append: ' profile picture' }}">
      </a>
      <a href="{{peer.twitter | prepend:'https://twitter.com/'}}" rel="noreferrer noopener" target="_blank">
        <svg aria-hidden="true" focusable="false" width="13" height="10">
          <title>Twitter icon</title>
          <use xlink:href="#icon-twitter"></use>
        </svg>
        {{- peer.name -}}
      </a>
      {% if peer.description %}
        <p><em>{{peer.description}}</em></p>
      {% endif %}
    </li>
  {% endfor %} 
</ul>
<p><sup>*</sup> In no particular order.</p>