<aside role="complementary">
  <h2><em>More posts&hellip;</em></h2>
  {{page.collection}}
  <section>
    {% assign posts = site[page.collection] | sample:3 %}
    {% assign relatedCount = 0 %}
    {% for item in posts %}
      {% if item.url != page.url %}
        <article class="secondary">
          <a href="{{item.url}}?nav=article-trio">
            <em>{{ item.categories[0] | capitalize }}<span class="screen-reader-only">.</span></em>
            <strong>{{item.title}}</strong>
          </a>
        </article>
        {% assign relatedCount = relatedCount | plus: 1 %}
        {% if relatedCount >= 4 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </section>
</aside>