<h2>Stack</h2>
<dl class="stack">
  {% for item in site.data.stack %}
  <div>
    <dt>
      <b>{{item.function}}</b>
      <a href="{{item.url}}" rel="noreferrer noopener" target="_blank">
        <svg focusable="false" class="icon-{{item.name | slugify}}" aria-hidden="true" width="{{item.width | default: '16'}}" height="{{item.height | default: '16'}}">
          <title>{{item.name}} icon</title>
          <use xlink:href="#icon-{{item.name | slugify}}"></use>
        </svg>
        <span class="screen-reader-only">{{item.name}}</span>
      </a>        
    </dt>
    <dd>
      {{item.description | newline_to_br}}
    </dd>
  </div>
  {% endfor %}
</dl>