<h2>Typography</h2>
<div class="type-grid">
  <div class="specimen body-font">
    <div tabindex="0">
      <h3>Manrope</h3>
      <ul role="presentation">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
      </ul>
    </div>
    <p>General type is set in the sans-serif font-face <a href="https://fonts.google.com/specimen/Manrope">Manrope, by Mikhail Sharanda</a> which is a variable font (hence the animation).</p>    
  </div>
  <div class="specimen monospace-font">
    <div tabindex="0">
      <h3>Cutive Mono</h3>
      <ul role="presentation">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
      </ul>
    </div>
    <p>The Monospace font-face is <a href="https://fonts.google.com/specimen/Cutive+Mono">Cutive Mono, by Vernon Adams</a>. Vernon Adams <a href="https://www.youtube.com/watch?v=Ywj8b589zR8">passed away</a> in 2016 at the age of 49 due to complications after a scooter accident in 2014.</p>
  </div>
</div>