<h2>Typography</h2>
<div class="type-grid">
  <div class="specimen body-font">
    <div tabindex="0">
      <h3>Manrope</h3>
      <ul role="presentation">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
      </ul>
    </div>
    <p>General type is set in the sans-serif font-face <a href="https://fonts.google.com/specimen/Manrope">Manrope, by Mikhail Sharanda</a> which is a variable font (hence the animation).</p>    
  </div>
  <div class="specimen monospace-font">
    <div tabindex="0">
      <h3>Courier Prime</h3>
      <ul role="presentation">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
      </ul>
    </div>
    <p>The Monospace font-face is <a href="https://fonts.google.com/specimen/Courier+Prime">Courier Prime, by Alan Dague-Greene</a>. Courier Prime is a new take on IBM's Courier which was designed in 1956 by Howard Kettler.</p>
  </div>
</div>