{% if page.[include.direction].url %}
<li class="adjacent-post-{{include.rel}}">
  <a rel="{{include.rel}}" href="{{page.[include.direction].url | append: '#content'}}">
    <span class="adjacent-label">{{include.direction}}</span>
    <strong class="adjacent-title">{{page.[include.direction].title}}</strong>
    <p class="adjacent-excerpt">{{page.[include.direction].excerpt | strip_html | truncatewords: 20 }}</p>
  </a>
</li>
{% else %}
<li class="adjacent-post-{{include.rel}} eol">
  <span role="presentation" class="adjacent-label" data-text="End of line">End of line</span>
  <span class="screen-reader-only">There are no more posts.</span>
</li>      
{% endif %}