<ul class="article-meta">
  <li class="article-meta--item">
    <span class="screen-reader-only">Published</span>
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
      <a href="/archive/{{ page.date | date: '%Y' }}/">
        {{ page.date | date_to_long_string: 'ordinal' }}
      </a>
    </time>
  </li>
  {%- if page.categories -%}
  <li class="article-meta--item">
    <span class="screen-reader-only">Filed under</span>
    <a href="/categories/{{page.categories}}/" class="p-category">{{page.categories}}</a>
  </li>
  {%- endif -%}
</ul>