.article-listing-content
  grid-column: content-main
  .posts-list
    padding: 0
    list-style: none


.dinky-article
  display: grid
  grid-template-rows: [title] auto [excerpt] 2fr [footer] min-content
  align-self: flex-end
  > *
    grid-column: 1/-1
  .article-content
    margin-right: calc(var(--grid-gap) / 2)
  svg
    margin-right: calc(var(--grid-gap) / 4)
    display: inherit
    stroke: var(--hot-pink)
    stroke-width: var(--icon-stroke)
    fill: none    
  footer
    display: flex
    font-size: 1rem
    text-transform: uppercase
    font-family: var(--mono-font)         
    margin-top: calc(var(--grid-gap) / 2)
    time
      color: var(--white-light)
      ~ *  
          margin-left: var(--grid-gap)
    a
      text-decoration: none
      display: flex
      align-items: baseline
      &:hover
        b
          text-decoration: underline
        svg
          stroke: var(--white)      
    b
      font-weight: normal
