.article-listing-content
  grid-column: var(--content-span)
  .posts-list
    margin: 0
    padding: 0
    list-style: none
    li
      article
        display: grid
        column-gap: var(--grid-gap)        
        grid-template-columns: repeat(4, 1fr)
      .post-title
        margin-top: 0
        grid-column: 1/-1