.topic-highlights
  background-color: var(--black-light)
  &-content
    grid-column: var(--content-span)
    @media screen and (min-width: 768px)
      margin: calc(var(--grid-gap) * 2) 0
    h2
      margin-top: 0