.topic-highlights-content
    grid-column: content-main
    ul
      display: flex
      flex-wrap: wrap
      list-style: none
      margin: 0
      padding: 0
      align-items: center
      li
        margin: 1rem 0
        text-transform: uppercase
        border-radius: var(--global-stroke)
        a
          font-family: var(--mono-font-stack)
          font-size: calc(1rem * (var(--tag-count) / 1.5))
        &:target
          border-bottom: solid 3px var(--brand-primary)
        &:not(:last-child)
          margin-right: var(--grid-gap)
        svg
          display: block
          stroke: var(--white)
          stroke-width: var(--icon-stroke)
          fill: none
          margin-right: 0.5rem          