<footer role="contentinfo" id="footer" class="grid-me" aria-label="footer">
  <address class="h-card">
    <p>For more details, contact:<br>
      <a href="{{site.email}}" class="u-email p-name">{{site.title}}</a>
    </p>
    <a href="/" class="u-url" title="{{site.title | append: '’s'}} homepage">
      <picture>
        <source
        srcset="/assets/img/shannon-young@3x.webp 300w,
                /assets/img/shannon-young@2x.webp 200w,
                /assets/img/shannon-young.webp 100w"
        sizes="100px"
        type="image/webp">
        <source
        srcset="/assets/img/shannon-young@3x.png 300w,
                /assets/img/shannon-young@2x.png 200w,
                /assets/img/shannon-young.png 100w"
        sizes="100px"
        type="image/jpeg">
        <img class="u-photo" src="/assets/img/shannon-young.png" width="100" height="100" alt="A much younger version of my actual face" loading="eager" importance="high">
      </picture>
      <span class="screen-reader-only">{{site.title | append: '’s'}} homepage</span>
    </a>       
  </address>
  {% include /partials/navigations/footer.html %}
  <div class="legal-stuff">
    <ul>
      <li>
        <a href="/accessibility/">
          Accessibility <svg aria-hidden="true" focusable="false" width="13" height="16"><title>Accessibility icon</title><desc>A human body</desc><use xlink:href="#icon-accessibility"></use></svg>
        </a>
      </li>      
      <li>
        <a href="https://validator.w3.org/nu/?showsource=yes&showoutline=yes&showimagereport=yes&doc={{page.url | absolute_url | url_encode}}" class="validate" rel="noreferrer noopener" target="_blank">
          Validate {% include /components/svg/raw.html title="Validate" desc="A checkmark" width="17" height="16" %}
        </a>
      </li>      
    </ul>
    <small>&#169; {{ site.time | date: '%Y' }}</small>
  </div>
</footer>
<b id="current-page">Current page</b>