<footer role="contentinfo" id="footer" class="grid-me" aria-label="footer">
  <section class="more-about">
    <address class="h-card">
      <p>For more details, contact:<br>
        <a href="{{site.email}}" class="u-email p-name">{{site.title}}</a>
      </p>
      <a href="/" class="u-url" title="{{site.title | append: '’s'}} homepage">
        <picture>
          <source srcset="/assets/img/shannon-young.webp 600w, /assets/img/shannon-young.webp 300w, /assets/img/shannon-young.webp 150w" sizes="150px" type="image/webp">
          <source srcset="/assets/img/shannon-young.png 600w, /assets/img/shannon-young.png 300w, /assets/img/shannon-young.png 150w" sizes="150px" type="image/jpeg">
          <img loading="eager" class="u-photo" src="/assets/img/shannon-young.png" width="100px" height="100px" alt="A much younger version of my actual face" importance="high">
        </picture>
        <span class="screen-reader-only">{{site.title | append: '’s'}} homepage</span>
      </a>       
    </address>
    {% include /partials/navigations/footer.html %}
  </section>
  <section class="legal-stuff">
    <ul>
      <li>
        <a href="/accessibility/">
          Accessibility <svg aria-hidden="true" focusable="false" width="13" height="16"><title>Accessibility icon</title><desc>A human body</desc><use xlink:href="#icon-accessibility"></use></svg>
        </a>
      </li>      
    </ul>
    <small><span>&#169; {{ site.time | date: '%Y' }}</span></small>
  </section>
</footer>