footer[role="contentinfo"]
  color: var(--white)
  padding: calc(var(--grid-gap) * 5) 0
  border-top: var(--global-stroke) solid var(--black-lighter)
  background-color: var(--black-lighter)
  // background: radial-gradient(at bottom right, var(--brand-secondary), transparent), radial-gradient(circle at bottom left,var(--zx-spectrum), var(--brand-primary))
  > section
    grid-column: content-main-start/span 4