@use '../utility/_mixins'
@use '../utility/_extends'


#icon-validate path
  &:first-of-type    
    transform-origin: center
    animation: rotation 2s infinite linear
    animation-play-state: paused

[aria-current]
  @include mixins.fw(650)
  color: var(--white)

footer[role="contentinfo"]
  align-items: center
  padding: calc(var(--grid-gap) * 2) 0
  border-top: var(--global-stroke) solid var(--black-lighter)
  svg
    display: inline-block
    fill: var(--white)
    margin-left: calc(var(--grid-gap) / 4)    
  .legal-stuff
    // *:not(:last-child)
    //   margin-right: var(--grid-gap)
    color: var(--white-light)
    grid-column: content-main
    display: flex
    flex-direction: column
    margin-top: calc(var(--grid-gap) * 2)
    justify-content: flex-start
    small
      display: block 
      margin-top: calc(var(--grid-gap) * 2)
      font-family: var(--mono-font-stack)
    ul
      @extend %list-to-flex
      li
        display: inline-block
        &:not(:last-of-type)
          margin-right: var(--grid-gap)        
        a
          @include mixins.fw(550)
          display: flex
          align-items: center
          text-decoration: none
          color: var(--white)
          padding: calc(var(--grid-gap) / 4) calc(var(--grid-gap) / 1.5)
          background-color: var(--black-lighter)
          border-radius: calc(var(--grid-gap) / .5)
          transition: all .2s linear
          transition-property: background
        [href="/accessibility/"]
          &:hover, &:focus
            border-color: var(--white)
            background-color: var(--zx-spectrum)
            // @include mixins.direction(right)
        .validate
          &:hover, &:focus
            border-color: var(--white)
            background-color: var(--brand-primary)
            #icon-validate path#icon-validate-wheel
              animation-play-state: running
              ~ path
                stroke: var(--brand-primary)
  .more-about
    @extend %display_contents
    address
      grid-column: content-main
      @media screen and (min-width: 768px)
        grid-column: content-main-start/span 4
    ul
      @extend %list-to-flex
      grid-column: content-main
      flex-direction: column
      justify-content: space-between
      @media screen and (min-width: 768px)
        flex-direction: row
        grid-column: 6/span content-main-end          
  address
    font-style: normal
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: var(--grid-gap)
    align-items: center
    justify-items: center
    border-radius: 6px
    p
      text-align: left
      grid-column: 1/span 2
    a
      grid-column: 3/-1
      img
        font-size: 60%
        text-align: center
        border: solid var(--global-stroke) var(--brand-primary)
        border-radius: 50%
        box-shadow: 0 0 0 calc(var(--global-stroke) * 2) var(--black), 0 0 0 calc(var(--global-stroke) * 3) var(--black-lighter)
        transition: all .5s linear
        transition-property: filter
        box-sizing: content-box
        @include mixins.direction(bottom)
        &:hover
          filter: drop-shadow(0 0 10px var(--brand-primary))

a.number-display
  text-decoration: none
  display: flex
  align-items: center
  &:hover, &:focus
    span
      text-decoration: underline
    em
      border-color: var(--white)
      transform: translateY(-5px)          
  em
    @include mixins.fw(750)
    font-family: var(--body-font-stack)
    font-style: normal
    transition: all .2s linear
    transition-property: border, transform
    padding: 0.1rem 0.3rem
    margin-left: 0.3rem
    font-size: 60%
    border-radius: 1rem
    color: var(--white-light)
    min-width: var(--grid-gap)
    text-align: center
    border: solid var(--global-stroke) var(--black-lighter)

   