@use '../utility/_mixins'
@use '../utility/_extends'

[aria-current]
  @include mixins.fw(650)
  color: var(--white)

footer[role="contentinfo"]
  align-items: center
  color: var(--white)
  padding: calc(var(--grid-gap) * 2) 0
  border-top: var(--global-stroke) solid var(--black-lighter)
  svg
    display: inline-block
    fill: var(--white)
  .legal-stuff
    *:not(:last-child)
      margin-right: var(--grid-gap)
    color: var(--white-light)
    grid-column: var(--content-span)
    display: flex
    margin-top: calc(var(--grid-gap) * 2)
    align-items: center
    justify-content: flex-start
    ul
      @extend %list-to-flex
      font-size: smaller
      li a
        display: flex
        align-items: center
      [href="/accessibility/"]
        @include mixins.fw(550)
        text-decoration: none
        color: var(--white)
        padding: calc(var(--grid-gap) / 4) calc(var(--grid-gap) / 2)
        border-radius: 6rem
        border: solid var(--global-stroke) var(--black-lighter)
        transition: all .2s linear
        transition-property: border, background        
        svg
          margin-left: calc(var(--grid-gap) / 4)
        &:hover, &:focus
          border-color: var(--white)
          background-color: var(--zx-spectrum)
  .more-about
    @extend %display_contents
    address
      grid-column: var(--content-span)
      @media screen and (min-width: 768px)
        grid-column: content-main-start/span 4
    ul
      @extend %list-to-flex
      grid-column: var(--content-span)
      flex-direction: column
      justify-content: space-between
      @media screen and (min-width: 768px)
        flex-direction: row
        grid-column: 6/span content-main-end
      li
        position: relative          
  address
    font-style: normal
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: var(--grid-gap)
    align-items: center
    justify-items: center
    border-radius: 6px
    p
      text-align: left
      grid-column: 1/span 2
    a
      grid-column: 3/-1
      img
        font-size: 60%
        text-align: center
        border: solid var(--global-stroke) var(--brand-primary)
        border-radius: 50%
        box-shadow: 0 0 0 calc(var(--global-stroke) * 2) var(--black), 0 0 0 calc(var(--global-stroke) * 3) var(--black-lighter)
        transition: all .5s linear
        transition-property: filter
        @include mixins.direction(bottom)
        &:hover
          filter: drop-shadow(0 0 10px var(--brand-primary))

a.number-display
  text-decoration: none
  display: flex
  align-items: flex-start
  &:hover, &:focus
    span
      text-decoration: underline
    em
      border-color: var(--white)
      transform: translateY(-5px)          
  em
    @include mixins.fw(750)
    font-style: normal
    transition: all .2s linear
    transition-property: border, transform    
    padding: 0.3rem
    margin-left: 0.3rem
    font-size: 60%
    border-radius: 1rem
    line-height: 1
    color: var(--white-light)
    min-width: 1.7rem
    text-align: center
    border: solid var(--global-stroke) var(--black-lighter)          