.grid-me
  @supports (display: grid) and (--prop: value)
    display: grid
    grid-template-columns: var(--grid-layout)
    column-gap: var(--grid-gap)
  &.pad-me
    padding: 5rem 0

.posts-list
  @supports (display: grid) and (--prop: value)
    @media screen and (min-width: 768px)
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, min-content)
      column-gap: var(--grid-gap)
      row-gap: var(--grid-gap)

.generic-content
  grid-column: var(--content-span)