.grid-me
  display: grid
  grid-template-columns: var(--grid-layout)
  column-gap: var(--grid-gap)
  &.pad-me
    padding: 5rem 0

.posts-list
  display: grid
  grid-template-columns: var(--post-layout)
  column-gap: var(--grid-gap)