@use '../utility/_mixins'

nav
  &[aria-label="page"]
    position: absolute
    writing-mode: vertical-lr
    left: -100vw
    top: var(--grid-gap)
    height: 100vh
    a[href]
      display: inline-block
      background-color: var(--black)
      color: var(--brand-secondary)
      padding: 1rem 0.25rem
      transition: 150ms
      text:
        transform: capitalize
        decoration: none
      z-index: 1
      &:focus
        // @extend %a11y-outline
        transform: translate(100vw)
  &[aria-label="topics"]
    @media screen and (min-width: 768px)
      display: flex
      align-items: center
    ul
      padding: 0
      margin: 0
      @media screen and (min-width: 768px)
        display: flex
        flex-wrap: wrap
        flex: 1
        align-items: center
      &::after
        content: ""
        display: block
        flex: 1
        height: var(--global-stroke)
        border-radius: 6px
        background-color: var(--brand-primary)
        transition: background 1s ease
        margin: 1rem 0
        @include mixins.direction(right)
        @media screen and (min-width: 768px)
          margin: 0 1rem
      li
        font-size: 22px
        a
          display: flex
          &:hover, &:focus
            color: var(--brand-secondary)
            outline-offset: 2px
            outline-color: var(--white)
            text-decoration: none
            span
              text-decoration: underline
            &::before
              color: var(--brand-primary)
          &::before
            content: '#'
        &::not(:last-of-type)
          margin-right: 28px
  &.adjacent-posts
    margin: calc(var(--grid-gap) * 2) 0 0
    border-top: var(--global-stroke) solid var(--black-lighter)
    grid-column: perimeter-start/perimeter-end
    .adjacent-posts-list
      &::after
       content: '' 
      @media screen and (min-width: 514px)
        display: flex
      padding: calc(var(--grid-gap) * 2) 0
      list-style: none
      li
        flex: 1
        display: flex
        padding: var(--grid-gap) calc(var(--grid-gap) * 2)
        &.eol
          span
            &:first-of-type
              &::selection
                color: var(--black)
                background: var(--tron)                
              &:hover
                &::after
                  animation-play-state: paused
              color: var(--tron)
              margin: 0
              position: relative
              letter-spacing: 0.15rem
              cursor: text
              text-shadow: 0 0 5px var(--zx-spectrum)         
              &::after
                content: ""
                margin-left: 0.5rem
                display: inline-block
                width: 10px
                height: 20px
                animation: tron .85s infinite linear alternate
        a[rel="next"], a[rel="prev"]
          max-width: 30rem
          display: block
          &:hover, &:focus
            text-decoration: none
            .adjacent-title
              text-decoration: underline
            .adjacent-label
              color: var(--white-light)
        @media screen and (min-width: 768px)
          a[rel="next"]
            > span
              justify-content: flex-end              
            &:hover, &:focus, &:active
              .adjacent-label
                transform: translateX(1rem)
          a[rel="prev"]
            > span
              justify-content: flex-start             
            &:hover, &:focus, &:active
              .adjacent-label
                transform: translateX(-1rem)
        .adjacent-label
          display: flex
          align-items: center
          font-family: var(--mono-font-stack)
          font-weight: 400
          letter-spacing: 0.15em
          text-transform: uppercase
          color: var(--white-lighter)
          margin: 0 0 calc(var(--grid-gap) / 1) 0
          transition: all .5s cubic-bezier(0.35, 1.55, 0.65, 1)
          transition-property: transform
        .adjacent-title
          display: block
          @include mixins.fw(580)
          font-size: 1.3rem
          margin: 0 0 calc(var(--grid-gap) / 5) 0
        .adjacent-excerpt
          display: inline-block
          color: var(--white-light)
          font-size: 1rem
          max-width: inherit
        &.adjacent-post-prev
          text-align: left
          justify-content: flex-start
        &.adjacent-post-next
          @media screen and (min-width: 768px)
            text-align: right
            justify-content: flex-end