@use '../utility/_mixins'

::selection
  color: var(--white)
  background: var(--brand-primary)

*
  box-sizing: border-box
  margin: 0
  outline-offset: 0

body
  @supports (scroll-behavior: smooth)
    @media (prefers-reduced-motion: no-preference)
      scroll-behavior: smooth
  margin: 0 auto
  padding: 0
  font-size: var(--base-font-size)
  background-color: var(--black)
  color: var(--white)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-decoration-skip-ink: auto
  text-rendering: optimizeLegibility  

hr
  outline: none
  border: none
  height: 1px
  background-color: #282828
  background: radial-gradient(circle at bottom left,var(--white), var(--white-light))  
  margin: 1rem 0
  padding: 0  

img
  image-rendering: -webkit-optimize-contrast
  image-rendering: auto

img, picture
  display: block
  height: auto

svg
  overflow: hidden
  display: block

[hidden], [aria-hidden="true"], #current-page
  display: none

::-webkit-details-marker
  display: none

.screen-reader-only:not(:focus):not(:active)
  clip: rect(0 0 0 0)
  clip-path: inset(100%)
  height: 1px
  overflow: hidden
  position: absolute
  white-space: nowrap
  width: 1px

a
  color: var(--brand-secondary)
  text-decoration: none
  text-decoration-thickness: 2px!important
  abbr
    cursor: inherit
  *
    text-decoration-thickness: 2px!important
  transition: color 0.15s linear
  &:hover, &:focus
    color: var(--white)
    text-decoration: underline
  &:active
    box-shadow: 0
    outline: 0   

pre
  overflow-x: auto
  padding-bottom: var(--grid-gap)
  margin: 0
  scrollbar-color: var(--white) transparent
  scrollbar-width: thin
  &::-webkit-scrollbar
    width: 20px
    height: 5px
  &::-webkit-scrollbar-track
    border-radius: 1rem
    border: transparent
  &::-webkit-scrollbar-thumb
    background-color: var(--white)
    border-radius: 1rem
  code
    margin-top: calc(var(--grid-gap) / 2)
    padding: calc(var(--grid-gap) / 2)
    background-color: var(--black-lighter)

code
  font-family: inherit

abbr
  cursor: help

code
  display: inline-block

video::backdrop
  background: linear-gradient(to bottom, rgb(25,25,25) 45%, rgb(35,35,35))
.hr-link
  display: flex
  align-items: center
  &::before
    content: ""
    width: 25%
    height: var(--global-stroke)
    border-radius: 6px
    margin-right: 1rem
    background-color: var(--brand-primary)
    @include mixins.direction(right)
    transition: background 1s ease

[style*="--aspect-ratio"] > :first-child
  width: 100%
[style*="--aspect-ratio"] > img  
  height: auto


@supports (--custom:property)
  [style*="--aspect-ratio"]
    position: relative
  [style*="--aspect-ratio"]::before
    content: ""
    display: block
    padding-bottom: calc(100% / (var(--aspect-ratio)))  
  [style*="--aspect-ratio"] > :first-child
    position: absolute
    top: 0
    left: 0
    height: 100%    