@use '../utility/_mixins'
@use '../utility/_extends'

@font-face
  font-family: 'Manrope'
  font-style: normal
  font-display: swap
  src: url('../fonts/Manrope.woff2') format('woff2')
  unicode-range: var(--unicode-range)
@font-face
  font-family: 'Courier Prime'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Courier Prime Regular'), local('CourierPrime-Regular'), url('../fonts/CourierPrime-Regular.woff2') format('woff2')
  unicode-range: var(--unicode-range)
@font-face
  font-family: 'Courier Prime'
  font-style: italic
  font-weight: 400
  font-display: swap
  src: local('Courier Prime Italic'), local('CourierPrime-Italic'), url('../fonts/CourierPrime-Italic.woff2') format('woff2')
  unicode-range: var(--unicode-range)
  
body
  font-family: sans-serif
  font-family: var(--body-font-stack)
  letter-spacing: calc(var(--base-font-size) * 0.0125)

p
  line-height: calc(var(--base-font-size) * 1.5)
  overflow-wrap: anywhere
  + p
    margin-top: var(--grid-gap)

code, blockquote
  font-family: var(--mono-font-stack)

blockquote
  position: relative
  grid-column: content-main
  margin: calc(var(--grid-gap) * 1.5) 0
  padding-left: calc(var(--grid-gap) * 1.5)
  border-left: solid var(--global-stroke) var(--white)
  font-style: italic
  font-variant: none
  @media screen and (min-width: 768px)
    grid-column: 3/span 7

h1, h2, h3, h4
  line-height: 1.5
  font-variation-settings: 'wght' 600
  @media screen and (min-width: 768px)
    font-variation-settings: 'wght' 610  

h1
  // clamp($min, $max, $ideal)
  @include mixins.clamp(2.5rem,4rem,calc(1rem + 5vw))

h2
  // clamp($min, $max, $ideal)
  @include mixins.clamp(1.75rem,2.5rem,2vw)  
  margin: calc(var(--grid-gap) * 2) 0 calc(var(--grid-gap) / 2) 0

h3
  margin: calc(var(--grid-gap) * 1) 0 calc(var(--grid-gap) / 3) 0

h4
  margin: calc(var(--grid-gap) * 1) 0 calc(var(--grid-gap) / 4) 0