@use '../utility/_mixins'
@use '../utility/_extends'

@font-face
  font-family: 'Manrope'
  font-style: normal
  font-display: swap
  src: url('../fonts/Manrope.woff2') format('woff2')
  unicode-range: var(--unicode-range)
@font-face
  font-family: 'Courier Prime'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Courier Prime Regular'), local('CourierPrime-Regular'), url('../fonts/CourierPrime-Regular.woff2') format('woff2')
  unicode-range: var(--unicode-range)
@font-face
  font-family: 'Courier Prime'
  font-style: italic
  font-weight: 400
  font-display: swap
  src: local('Courier Prime Italic'), local('CourierPrime-Italic'), url('../fonts/CourierPrime-Italic.woff2') format('woff2')
  unicode-range: var(--unicode-range)
  
body
  font-family: sans-serif
  font-family: var(--body-font)
  letter-spacing: calc(var(--base-font-size) * 0.0125)

p, .paragraph
  line-height: calc(var(--base-font-size) * 1.5)
  overflow-wrap: anywhere
  font-size: inherit
  + p, .paragraph
    font-size: inherit
    margin-top: var(--grid-gap)

strong.stand-out
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='white' fill-opacity='0.07' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
  padding: 1rem
  display: block  
  @include mixins.fw(560)
  font-size: 105%

strong
  @include mixins.fw(560)

code, blockquote, .mono-font
  font-family: var(--mono-font)

blockquote, figure
  font-variant-ligatures: none
  margin: calc(var(--grid-gap) * 1.5) 0

blockquote
  position: relative
  grid-column: content-main
  padding-left: calc(var(--grid-gap) / 1.5)
  font-style: italic
  font-variant: none
  line-height: 1.2
  // Font size mixin using clamp ($min, $max, $ideal)
  @include mixins.clamp(1rem,1.4rem,calc(1rem + 1vw))  
  @media screen and (min-width: 768px)
    padding-left: calc(var(--grid-gap) * 1.5)
    grid-column: 3/span 7
  a
    font-style: normal
    display: block
    margin-top: .5rem
    &::before
      content: '– '

h1, h2, h3, h4
  line-height: 1.5
  @include mixins.fw(600)
  em
    font-family: var(--mono-font)
  @media screen and (min-width: 768px)
    @include mixins.fw(610)  

h1, .h1
  // Font size mixin using clamp ($min, $max, $ideal)
  @include mixins.clamp(2.5rem,4rem,calc(1rem + 5vw)) 

h2, .h2
  // Font size mixin using clamp ($min, $max, $ideal)
  @include mixins.clamp(1.75rem,2.5rem,2vw)  
  margin: calc(var(--grid-gap) * 2) 0 calc(var(--grid-gap) / 2) 0

h3, .h3
  margin: calc(var(--grid-gap) * 1) 0 calc(var(--grid-gap) / 3) 0

h4, .h4
  margin: calc(var(--grid-gap) * 1) 0 calc(var(--grid-gap) / 4) 0

// Captions/Subtitles
// https://developer.mozilla.org/en-US/docs/Web/CSS/::cue
::cue
  font-family: var(--mono-font)
  font-style: italic
  color: var(--white)
  background-color: rgba(0, 0, 0, 0.8)  